---
layout: page
---

<table>
    <tr>
        <td><strong>SER Term</strong></td><td><strong>RSE Term</strong></td>
    </tr>
    <tr>
        <td><strong>{{ page.ser-term }}</strong></td><td><strong>{{ page.rse-term }}</strong></td>
    </tr>
</table>
<table>
    <tr>
        <td>SWEBOK Knowledge Area</td><td>{{ page.swebok-ka }}</td>
    </tr>
    <tr>
        <td>Ideal artifacts</td><td>{{ page.ideal-artifacts }}</td>
    </tr>
    <tr>
        <td>RSE practice</td><td>{{ page.rse-practice }}</td>
    </tr>
    <tr>
        <td>RSE applicability</td><td>{{ page.rse-applicability }}</td>
    </tr>
    <tr>
        <td>RSE usage</td><td>{{ page.rse-usage }}</td>
    </tr>
</table>

{% assign test-content = content | normalize_whitespace | strip_newlines %}
{% if test-content and test-content != "" %}
<h2>Notes</h2>
{{ content }}
{% endif %}

<nav align="center">
    {% if page.previous.url %}
    <a href="{{ page.previous.url | relative_url }}">< Previous ({{ page.previous.title }})</a>
    {% endif %}
    {% if page.previous.url and page.next.url %} | {% endif %}
    {% if page.next.url %}
    <a href="{{ page.next.url | relative_url }}">Next ({{ page.next.title }}) ></a>
    {% endif %}
</nav>

<p align="center" style="margin-top: 1em"><a href="{{site.github.repository_url}}/blob/main/{{page.path}}">Edit this page on GitHub</a></p>
