---
layout: page
---

<table>
    <tr>
        <td><strong>SE Fundamental</strong></td><td><strong>RSE Equivalent</strong></td>
    </tr>
    <tr>
        <td><strong>{{ page.se-fundamental }}</strong></td><td><strong>{{ page.rse-equivalent }}</strong></td>
    </tr>
</table>
<table>
    <tr>
        <td>SWEBOK section</td><td>{{ page.swebok-section }}</td>
    </tr>
    <tr>
        <td>RSE usage</td><td>{{ page.rse-usage }}</td>
    </tr>
    <tr>
        <td>RSE practice</td><td>{{ page.rse-practice }}</td>
    </tr>
    <tr>
        <td>Gap?</td><td>{{ page.gap }}</td>
    </tr>
</table>

{% assign test-content = content | normalize_whitespace | strip_newlines %}
{% if test-content and test-content != "" %}
<h2>Notes</h2>
{{ content }}
{% endif %}

<nav align="center">
    {% if page.previous.url %}
    <a href="{{ page.previous.url | relative_url }}">< Previous ({{ page.previous.title }})</a>
    {% endif %}
    {% if page.previous.url and page.next.url %} | {% endif %}
    {% if page.next.url %}
    <a href="{{ page.next.url | relative_url }}">Next ({{ page.next.title }}) ></a>
    {% endif %}
</nav>

<p align="center" style="margin-top: 1em"><a href="{{site.github.repository_url}}/blob/main/{{page.path}}">Edit this page on GitHub</a></p>
