---
layout: single
---

<h2>Terms</h2>

<table style="display:table">
    <thead>
    <tr>
        <th style="width:50%">SE Fundamental</th>
        <th style="width:50%">RSE Equivalent</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{% if page.se_fundamental and page.se_fundamental != empty %}
                {% include array_to_ul.html array=page.se_fundamental %}
            {% else %}
                <em style="color:red">Not provided</em>
            {% endif %}
        </td>
        <td>{% if page.rse_equivalent and page.rse_equivalent != empty %}
                {% include array_to_ul.html array=page.rse_equivalent %}
            {% else %}
                <em style="color:red">Not provided</em>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

<h2>Details</h2>
<table>
    <tr>
        <td>{{ page.swebok_sections | size | pluralize: "SWEBOK section", "SWEBOK sections" }}</td>
        <td>{% if page.swebok_sections and page.swebok_sections != empty %}
                {{ page.swebok_sections | array_to_sentence_string }}
            {% else %}
                <em style="color:red">Not provided</em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Fundamental description</td>
        <td>{% if page.fundamental_description and page.fundamental_description != empty %}
                {{ page.fundamental_description }}
            {% else %}
                <em  style="color:red">Not provided</em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>RSE practice</td>
        <td>{% if page.rse_practice and page.rse_practice != empty %}
                {{ page.rse_practice }}
            {% else %}
                <em style="color:red">Not provided</em>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>RSE&nbsp;awareness&nbsp;(source)</td>
        <td>{%- if page.rse_awareness and page.rse_awareness != empty -%}
                {{ page.rse_awareness }}
            {%- else -%}
                <em style="color:red">Not provided</em>
            {%- endif -%}
            {%- if page.rse_awareness_source and page.rse_awareness_source != empty -%}
                &nbsp;({{ page.rse_awareness_source }})
            {%- else -%}
                <em style="color:red">&nbsp;(Not provided)</em>
            {%- endif -%}
        </td>
    </tr>
    <tr>
        <td>RSE&nbsp;usage&nbsp;(source)</td>
        <td>{%- if page.rse_usage and page.rse_usage != empty -%}
                {{ page.rse_usage }}
            {%- else -%}
                <em style="color:red">Not provided</em>
            {%- endif -%}
            {%- if page.rse_usage_source and page.rse_usage_source != empty -%}
                &nbsp;({{ page.rse_usage_source }})
            {%- else -%}
                <em style="color:red">&nbsp;(Not provided)</em>
            {%- endif -%}
        </td>
    </tr>
    <tr>
        <td>SER&nbsp;potential&nbsp;(source)</td>
        <td>{%- if page.ser_potential and page.ser_potential != empty -%}
                {{ page.ser_potential }}
            {%- else -%}
                <em style="color:red">Not provided</em>
            {%- endif -%}
            {%- if page.ser_potential_source and page.ser_potential_source != empty -%}
                &nbsp;({{ page.ser_potential_source }})
            {%- else -%}
                <em style="color:red">&nbsp;(Not provided)</em>
            {%- endif -%}
        </td>
    </tr>
    <tr>
        <td>SER opportunities</td>
        <td>{% if page.ser_opportunities and page.ser_opportunities != empty %}
                {{ page.ser_opportunities }}
            {% else %}
                <em style="color:red">Not provided</em>
            {% endif %}
        </td>
</table>

{% if page.references and page.references != empty %}
<h2>References</h2>
{% include array_to_ul.html array=page.references %}
{% endif %}

{% assign test_content = content | normalize_whitespace | strip_newlines %}
{% if test_content and test_content != "" %}
<h2>Notes</h2>
{{ content }}
{% endif %}

<p>
    <em>Use the comment section below to suggest changes or discuss this term.</em>
</p>
